.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 30px;
}

.home__header a {
  font-size: 13px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: inherit;
  margin-right: 20px;
}

.home__header a:hover {
  text-decoration: underline;
}

.home__headerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 13vw;
}

.home__headerLinks > .MuiSvgIcon-root {
  cursor: pointer;
  color: rgb(95, 99, 104);
  margin-right: 20px;
}

.MuiAvatar-root {
  cursor: pointer;
}

.home__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 10%;
}

.home__body img {
  height: 92px;
  object-fit: contain;
}