.searchResults__header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
  z-index: 100;
}

.searchResults__logo {
  height: 50px;
  object-fit: contain;
  margin-right: 50px;
}

.searchResults__searchBar > .searchbar > .searchbar__input {
  margin-top: 0;
  width: unset;
  max-width: unset;
  margin: unset;
}

.searchResults__options {
  margin-top: 30px;
  display: flex;
  align-items: center;
  color: gray;
}

.searchResults__options--leftPart,
.searchResults__options--rightPart {
  display: flex;
}

.searchResults__options--leftPart a,
.searchResults__options--rightPart a {
  color: gray;
  text-decoration: none;
}

.searchResults__options--rightPart {
  margin-left: 80px;
}

.searchResults__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchResults__option a {
  margin-left: 5px;
}

.searchResults__results {
  max-width: 650px;
  margin: 20px 0 100px 240px;
}

.searchResults__resultCounter {
  color: #70757a;
  font-size: 14px;
}